.desc1{
    background-color: rgb(255, 255, 255);
}
.desc1-txt{
    align-content: center;
    text-align: center ;
    background-color: rgba(216, 216, 216, 0.525);
    position: relative;
    width: 80%;
    min-height: 70vh;
    padding: 20px;
    z-index: 6;
    margin: 20px;
}
.desc1-img img {
    z-index: 5;
    width: 70%;
    height: 80vh;
    position: relative;
    top:-60vh;
    margin-bottom: -60vh;
    left: 28%;
}
.descb-txt{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(132, 132, 133, 0.708);
    text-align: center;
    justify-content: center;
}
.desc2-img, .desc3-img, .desc4-img{
    margin-top:10vh;
    min-height: 120px;
    height: fit-content;
    color: rgb(255, 255, 255);
    background-image: url(../image/psson.jpg);
    text-align: center;
    align-content: center;
    background-size: cover;
    background-position: center;
}
.desc2-img{
    background-image: url(../image/psson.jpg);
}
.desc3-img{
    background-image: url(../image/desc3.jpg);
}
.desc4-img{
    background-image: url(../image/hfs1.jpg);
}