main {
    justify-items: center;
    align-items: center;
}
.texte{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.642);
    justify-content: center;
    width: 100%;
    max-width: 900px;
}
.imt {
    height: max-content;
    display: flex;
    gap: 20px ;
}
.imt img {
    width: 48%;
    max-width: 350px ;
    height: auto;
}