* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  width: 100% ;
  height: 100vh;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  background-image: url(../image/font.png);
  background-size: contain;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #111;
  line-height: 1.6;
}
.hero {
  background: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.herolinck {
  display: flex;
  gap: 20px;
}
.herolinck a {
  text-decoration: none ;
  color: #ffffff;
}
.herolinck a:hover , .nav-links h4:hover {
  text-decoration:underline 3px ;
  color: rgb(100, 100, 100);
}
.herobouton{
  display:flex;
  gap :20px; 
}
.herobouton img:hover{
  height: 27px;
  width: 27px;
}
.nav{
  display: flex;
  background: #111;
  color: white;
  padding: 0;
  justify-content: space-between;
}
.nav-links {
  margin: 50px 80px 50px;
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.hamburger .bar {
  display: flex;
  width: 28px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.4s;
}
.hamburger{
  position: absolute;
  right: 40px;
  top: 50px;
  display: none;
}
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.contact {
  background: #f9f9f9;
  padding: 60px 20px;
  width: auto;
  padding: 10px ;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact input, .contact textarea {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #565656;
  border-radius: 5px;
}
.contact button {
  background: #111;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.footerref {
  background: #333;
  height: 40px;
  margin-top: 20px;
}
.footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 20px;
}
.appropos {
  background: #141414;
  padding: 20px;
  text-align: center;
  color: white;
}

/* Responsive: dropdown toggle on mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }
  .nav-links.active {
    display: flex;
    
  }
  .hero{
    flex-direction: column;
  }
  .herolinck{
    flex-direction: column;
  }
  .herobouton{
    position: absolute;
    top: 40px;
    right: 10px ;
  }
  .hamburger {
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: rgba(52, 52, 52, 0.95);
    flex-direction: column;
    z-index: 10;
    height: 80vh;
    width: 70vw;
    margin-top: 130px;
    right: 0;
    margin-right: -5%;
    padding: 20px 40px;
  }
}
